.myfont{
    font-family: 'Roboto Slab', serif;
 
}
.myfont2{
    font-family: 'Roboto Mono', monospace;
}
.msg{
    margin: 5px;
    padding: 3px;
    font-weight: bold;
    color: red;
    background-color:rosybrown;
}
table, th, td {
    border: 1px solid black;
}
#st{
    margin: 3px;
}
h1{
    padding: 10px;
    margin-bottom: 3px ;
    color:blue;
    font-weight:normal;
    text-align: center;
    border-radius: 35px;
}
.center {
    margin: auto;
    color:white;
    font-weight: normal;
    width: 60%;
    border: 5px solid #FFFF00;
    padding: 10px; 
}
#submit,#update{
    margin : 7px 7px 7px 0px ;
    display: inline;
    padding: 10px 20px;
    border: 3px solid black;
    border-radius: 6px;
    color: white;
    background-color: black;
    border-radius: 10px;
    border-color:white;
    width: auto;
    cursor: pointer;
}
.btn{
    
    margin:auto;
    width: 100%;
    padding: 10px;
}
.bg{
    width: 100%;
    position: absolute;
    z-index: -1;
}
td{
    padding: 5px;
}
.fstyle{
    margin: 5px;
    border:3px solid black;
}
